<main class="container mt-4">
  <h3 class="fw-bold mb-4">Nueva Publicación</h3>
  <form (submit)="enviarFormulario($event)" enctype="multipart/form-data">
    
    <div class="mb-3">
      <label for="titulo" class="form-label">Título</label>
      <input
        type="text"
        id="titulo"
        name="titulo"
        class="form-control"
        [(ngModel)]="formulario.titulo"
        required
        ngModel
      />
    </div>

    <div class="mb-3">
      <label for="contenido" class="form-label">Contenido</label>
      <textarea
        id="contenido"
        name="contenido"
        class="form-control"
        [(ngModel)]="formulario.contenido"
        rows="4"
        required
        ngModel
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="file" class="form-label">Archivo</label>
      <input
        type="file"
        id="file"
        name="file"
        class="form-control"
        (change)="seleccionarArchivo($event)"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</main>
